<h1 mat-dialog-title>Dodaj seans</h1>
<div mat-dialog-content class="mat-dialog-content">
  <form #f="ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Film:</mat-label>
      <mat-select [(ngModel)]="data.movie" name="movie" required>
        <mat-option *ngFor="let movie of data.movieList" [value]="movie">
          {{movie.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Data:</mat-label>
      <input matInput type="date" [(ngModel)]="data.date" name="date" min="{{todayDate}}" max="{{maxDate}}" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Godzina: </mat-label>
      <mat-select [(ngModel)]="data.hour" name="hour" required>
        <mat-option *ngFor="let hour of hourList" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Minuta: </mat-label>
      <mat-select [(ngModel)]="data.minute" name="minute" required>
        <mat-option *ngFor="let minute of minuteList" [value]="minute">
          {{minute}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sala:</mat-label>
      <mat-select [(ngModel)]="data.room" name="room" required>
        <mat-option *ngFor="let room of roomsList" [value]="room">
          Sala nr {{room.roomNumber}}, liczba miejsc: {{room.rows * room.seatsInRow}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button *ngIf="!f.valid" disabled cdkFocusInitial>Ok</button>
      <button mat-button [mat-dialog-close]="data" *ngIf="f.valid" cdkFocusInitial>Ok</button>
      <button mat-button (click)="onNoClick()">Anuluj</button>
    </div>
  </form>
</div>