table,th,td{
   border:1px solid darkgrey;
   padding:1em;
}
th{
    background-color: grainsboro;
    color:darkslatgrey;
    font-family:'Trebucher MS';
    font-size:large;
}

.moviesList {
    display: flex;
    background-color: #242333;
}

.movie {
    background-color: white;
    max-width: 150px;
    border: solid;
    padding: 10px;
    margin-left: 5px;
}