<div className="justifyView">
  <div class="moviesList">
        <div class="movie" *ngFor="let movie of movieList">
            <!-- <p>{{movie.title}}</p>
            <p>{{movie.duration}}</p>
            <p>{{movie.year}}</p> -->
            <app-singlemovie [movie]="movie"></app-singlemovie>
            <div class="movieOptions">
              <button mat-raised-button color="primary" (click)="openDialog(false, true, movie)">Edytuj</button>
              <button mat-raised-button color="warn" (click)="deleteDialog(movie)">Usuń</button>
            </div>
        </div>
    </div>

    <button mat-raised-button color="basic" (click)="openDialog(true, false, null)">Dodaj Film</button>
</div>
