<div class="justifyView">
    <div class="showsList">
        <div class="show" *ngFor="let show of showList">
            <p>{{show.movie.title}}</p>
            <p>Rok produkcji: {{show.movie.year}}</p>
            <p>Czas trwania: {{show.movie.duration}}</p>
            <p>Data: {{show.date.getDate() + '-' + (show.date.getMonth() + 1) + '-' + show.date.getFullYear()}}</p>
            <p>Godzina: {{show.hour + ':' + show.minute}}</p>
            <p>Sala: {{show.room.roomNumber}}</p>
            <p>Ilość miejsc: {{show.room.rows * show.room.seatsInRow}}</p>
            <button mat-raised-buttor color="primary" (click)=deleteShow(show)>Usuń</button>
            <button mat-raised-buttor color="primary" (click)=openShow(show)>Przejdź do strony seansu</button>
        </div>
    </div>

    <button mat-raised-buttor color="primary" (click)="openDialog()">Dodaj Seans</button>
</div>