.showsList {
    display: flex;
    background-color: #242333;
}

.show {
  width: auto;
    max-width: 300px;
    width: 100%;
    padding: 10px;
    margin-left: 15px;
}

.showCard:hover {
  cursor: pointer;
  background-color: bisque;
}

.showHeader {
  justify-content: center;
}

.showDetails {
  text-align: left;
}